<!DOCTYPE html>
<html>
<head>
  <title>Opentable</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- Devise gem: current owner and destroy_owner_session_path -->
<% if current_owner %>
	<%=link_to "Logout", destroy_owner_session_path, method: :delete  %>
<% end %>


<%= yield %>

</body>
</html>
